.card{
    text-align: left;
    margin: 20px;
    background-color: rgb(110, 172, 234);
}

.column {
    display: flex;
    flex-direction: row;
}
.content{
    margin-left: 10px;
    font-size: small;
}
.div{
    border: 5px solid black;
    margin: 20px;
}
.missionName{
    font-weight: bolder;
    font-size: medium;
}
